{% extends "base.html" %}

{% block title %}{{ parent() }}Search Results{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<section class="hero is-small is-info">
    <div class="hero-body">
        <p class="title"><a href="{{ url_for('index') }}">PAViSI Search</a></p>
        <form action="{{ url_for('search') }}" method="get">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" name="query" placeholder="Search..." value="{{query}}">
                </div>
                <div class="control">
                    <button class="button is-link">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% if error %}
    <div class="notification is-danger">
        <h2 class="subtitle is-flex">{{error.type}}</h2>
        <pre>
            {{-error.message}}
            {{-error.trace}}
        </pre>
    </div>
{% else %}
    <div id="results-container" class="box">
        <h2 class="subtitle is-flex">
            <span class="is-flex-grow-1">Results for <strong>{{query}}</strong></span>
            <span class="has-text-right">({{hits_shown}} / {{hits_total}})</span>
        </h2>
        <div class="table-container">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tbody>
                {% for hit in hits %}
                    <tr>
                        <td>
                            <span class="tag is-info">{{hit.score}}</span>
                        </td>
                        <td>
                            <div class="filepath has-text-weight-semibold">{{hit.filepath}}</div>
                            <div class="file-details is-size-7">
                                <span class="file-id has-text-grey">ID {{hit.id}}</span>
                                |
                                <span class="filesize has-text-grey">{{hit.filesize}} bytes</span>
                                |
                                <span class="filemtime has-text-grey">{{hit.filemtime}}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        {% if previousPage %}
        <a href="{{ url_for('search') }}?query={{query}}&page={{previousPage}}" class="pagination-previous">Previous</a>
        {% endif %}
        {% if nextPage %}
        <a href="{{ url_for('search') }}?query={{query}}&page={{nextPage}}" class="pagination-next">Next page</a>
        {% endif %}
        <ul class="pagination-list">
            {% if lastPage %}
                <li>
                    <a href="{{ url_for('search') }}?query={{query}}&page=1"
                       class="pagination-link {% if currentPage == 1 %}is-current{% endif %}"
                       aria-label="Goto page 1">1</a>
                </li>
                {% if previousPage > 2 %}
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                {% endif %}
                {% for ip in intermediatePages %}
                    <li>
                        <a href="{{ url_for('search') }}?query={{query}}&page={{ip}}"
                           class="pagination-link {% if currentPage == ip %}is-current{% endif %}"
                           aria-label="Goto page {{ip}}">{{ip}}</a>
                    </li>
                {% endfor %}
                {% if secondToLastPage < (lastPage - 1) %}
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                {% endif %}
                {% if currentPage != lastPage %}
                <li>
                    <a href="{{ url_for('search') }}?query={{query}}&page={{lastPage}}"
                       class="pagination-link {% if currentPage == lastPage %}is-current{% endif %}"
                       aria-label="Goto page {{lastPage}}">{{lastPage}}</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}

{% block footer %}
{{ parent() }}
<div class="content has-text-centered has-text-grey-light">
    <small>Using index <span class="is-family-monospace has-text-grey-dark">{{_config['elasticsearch']['index']}}</span>
        at <span class="is-family-monospace has-text-grey-dark">{{_config['elasticsearch']['url']}}</span></small>
</div>
{% endblock %}
